.container-board{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-dash{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* duas colunas com largura igual */
  gap: 30px; /* espaço entre os itens */
  width: 100%;
  padding: 30px;
}

.container-empty{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-centered{
  max-width: 1000px;
  width: 60%;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.empty-title{
  font-size: 40px;
  font-weight: bold;
  color: var(--text-primary);
  border-bottom: 1px solid var(--primary);
  padding: 0 30px;
  margin-bottom: 15px;
}

.empty-text{
  font-size: 18px;
  color: var(--text-secondary);
  text-align: center;
  margin-bottom: 20px;
}

.section{
  background-color: var(--surface);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title{
  color: var(--text-secondary);
  text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-align: center;
  margin: 15px 0;
}

.title{
  font-weight: bold;
  /* font-size: 30px; */
  width: calc(100% - 60px);
  max-width: 1280px;
  margin: 20px 0;
  text-align: center;
  color: var(--text-primary);
  border-bottom: 1px solid var(--primary);
  text-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.cards-area{
  /* border: 1px solid red; */
  width: calc(100% - 60px);
  max-width: 1280px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  border: .3px solid var(--light-dark);
  margin: 10px 0;
  width: 400px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.card-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 15px;
  color: var(--light);
  /* border: 1px solid red; */
}

.card-subtitle{
  color: var(--light-dark);
  font-size: 13px;
  font-weight: 600;
  /* border: 1px solid red; */
}

.card-value{
  padding: 0;
  font-size: 40px;
  /* border: 1px solid red; */
}

@media (min-width: 1920px) {
  .container-dash {
    grid-template-columns: 1fr 1fr 1fr; /* 3 colunas iguais */
  }
}

.tab-container{
  border-radius: 30px;
  border: 1px solid var(--light-dark);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  margin: 10px 0;
}

.tab-item{
  padding: 7px 15px;
  color: var(--light);
  border-radius: 30px;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  transition: .3s ease;
}

.tab-item:hover{
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.tab-item.active{
  background-color: var(--light);
  color: var(--dark);
}