* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

*::selection{
  background-color: var(--primary);
  color: var(--light);
}

h1{
  color: var(--primary);
  text-shadow: 0 5px 10px rgba(0,0,0,.5);
}

body{ 
  background-color: var(--background);
}

p{
  color: var(--light);
}